.popular-destinations-title {
    font-size: 24px;
}
.popular-destinations-section {
    margin-top: 3rem;
    padding-right: 20px;
}



@media (min-width:400px) and (max-width: 728px) {
    .see-all-button {
        
        }
}